/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Type/Code Toolkit
		by Lev Kanter
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*----- layout -----*/

.clearfix:after, .tier:after { content:"."; display:block; 
	clear:both; visibility:hidden; line-height:0; height:0; }
.clearfix, .tier { display:inline-block; }
html[xmlns] .clearfix, html[xmlns] .tier { display:block; }
* html .clearfix, * html .tier { zoom:1; }

.tier { position:relative; clear:both; margin:auto; text-align:left; }

.column   { float:left; display:inline; }
.column-r { float:right; display:inline; }

.clear { clear:both; }

/*----- controls -----*/

input[type="submit"],
input[type="reset"],
input[type="button"],
button, .button { cursor:pointer; text-align:center; }

/*----- media -----*/

.graphic, .graphic a { display:block; }
.graphic span { display:none; } /* image replacement */